:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  min-width: 0;
}

body {
  min-height: 100vh;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  display: flex;
  align-items: center;
  gap: 4px;
}

form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 10px;
}

input {
  color: #fff;
  outline: none;
  padding: 6px 10px;
  font-size: medium;
  border-radius: 8px;
  flex: 1;
}

button {
  background-color: unset;
  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #a1a1a1;
  border-radius: 8px;
}

li span {
  flex: 1;
}
